* {
    margin: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

:root {
    --main-color: rgba(241, 201, 83, 1);
    --secondary-color: rgba(78, 164, 135, 1);
}

header {
    display: flex;
    width: 100%;
    padding: 32px 0 32px 146px;
    gap: 102px;

    background-color: var(--secondary-color);
}

header img {
    width: 72px;
    height: 72px;
}

.nav-bar {
    display: flex;
    align-items: center;
    gap: 72px;
}

.list{
    display: flex;
    gap: 72px;
}

.list-item {
    list-style: none;
    font-family: 'Arima';
    font-weight: 700;
    font-size: 24px;
    line-height: 0.8;

    color: #FFFFFF;
}

.list-item a {
    text-decoration: none;
    color: #FFFFFF;
}

.hero-blog{
    display: flex;
    padding: 88px 120px;
    gap: 30px;
}

.hero-blog h2{
  font-family: 'Palanquin';
  font-style: normal;
  font-weight: 600;
  font-size: 40px;
  color: #4EA487;
}

.hero-blog h1{
  font-family: 'Arima';
  font-style: normal;
  font-weight: 700;
  font-size: 64px;
  color: #F1C953;
}

.hero-blog p{
  font-family: 'Palanquin';
  font-style: normal;
  font-weight: 400;
  font-size: 32px;
  color: #54370D;
}

.hero_text_blog{
    display: flex;
    flex-direction: column;
    gap: 10px;
}


.article img{
    height: 120px;
    width: 120px;
    border-radius: 50%;
}

.article h3{
  font-family: 'Arima';
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  color: #54370D;
}

.article p{
  font-family: 'Palanquin';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  color: #54370D;
  text-align: start;
}

.author{
  font-family: 'Arima';
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  color: #54370D;
}

.article{
    background-color: #4EA48733;
    width: 275px;
    height: 390px;
    padding: 8px;
    border-radius: 30px;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.article-meta{
   padding-top: 40px;
    display: flex;
    gap: 6px;
    list-style: none;
    padding-inline-start: 0;
}

.article-meta span{
  font-family: 'Palanquin';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;

  text-align: center;
}

.meta-item{
    display: flex;
    align-items: center;
    gap: 6px;
}

.headline-slider{
    padding-top: 88px;
    padding-inline: 120px;
    padding-bottom: 64px;
    display: flex;
    justify-content: center;
    align-items: center;

  font-family: 'Arima';
  font-style: normal;
  font-weight: 600;
  font-size: 32px;
}

.slider_b{
    padding-inline: 120px;
    display: flex;
    height: 70dvh;
    width: 100%;
    align-items: center;
    justify-content: center;
}

.slider_b_element{
    width: 280px;
    height: 440px;
    box-shadow: -9px 5px 20px 0px black;
    z-index: 1;
    border-radius: 16px;
    object-fit: cover;


   transform: perspective(250px) rotateY(10deg) translateX(20px);
    transform-origin: 50% 50%;
    transition: 250ms ease-in-out;
}

.slider_b_element:hover{
    transform: perspective(250px) rotateY(0deg) translateX(0px) scaleX(1.5) scaleY(1.2);
    z-index: 2;
}
.slider_b_element:hover~.slider_b_element{
    transform: perspective(250px) rotateY(-20deg) translateX(20px);
}

.slider_b_element + .slider_b_element {
    margin-left: -60px;
}

.info-text{
    padding: 88px 120px;
}

.info-text p{
  font-family: 'Palanquin';
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
}

.libanon-text{
  padding-top: 88px;
  padding-bottom: 20px;
  font-family: 'Palanquin';
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
}
.list-libanon{
    display: flex;
    flex-direction: column;
  font-family: 'Palanquin';
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
}

.travel-tips{
    padding: 88px 120px;
}

.tips{
    position: relative;
    background-color: rgba(78, 164, 135, 0.2);
    border-radius: 30px;
    padding: 40px;
}
.text{
  font-family: 'Palanquin';
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
}
.tips-img{
    position: absolute;
    z-index: 2;
    top: -65px;
    left: -20px;
}

.follow-section{
    position: relative;
    padding: 88px 120px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.follow-section h3{
  
  font-family: 'Arima';
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
}
.arrow{
    position: absolute;
    top: 130px;
    right: 875px;
}
.button{
    position: absolute;
    bottom: 0px;
}
    



      

    

            