main{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-inline: 120px;
}

.article-hero{
    display: flex;
    padding-top: 128px;
}

.article-hero-culmn{
    display: flex;
    flex-direction: column;
}

.article-hero-content{
    display: flex;
    flex-direction: column;
    width: 900px;
}

.article-hero-content h1{
    font-family: Arima;
    font-weight: 700;
    font-style: Bold;
    font-size: 64px;
    line-height: 120%;
    letter-spacing: 0%;
    color: #F1C953;
}

.article-hero-content>h2{
    display: flex;
    font-family: Palanquin;
    font-weight: 600;
    font-style: SemiBold;
    font-size: 40px;
    line-height: 120%;
    letter-spacing: 0%;
}

.article-hero-content p{
    font-family: Palanquin;
    font-weight: 400;
    font-style: Regular;
    font-size: 32px;
    line-height: 120%;
    letter-spacing: 0%;
    color:#54370D;
    padding-top: 8px;
}

/* box */
.article-meta{
    display: flex;
    gap: 32px;
    padding-top: 32px;
}

.meta-item{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 6px;
}

.hero-info-content{
    display: flex;
    flex-direction: column;
    justify-content: end;
    align-items: center;
    padding-left: 16px;
    padding: 16px;
    width: 270px;
    background: #4EA48733;
    border-radius: 30px;
    gap: 12px;
}

.hero-info-content>img{
    width: 128px;
    height: 128px;
    border-radius: 50%;
}

#name{
    font-family: 'Arima';
    font-style: normal;
    font-weight: 700;
    text-align: center;
    color:#54370D;

}

#developer{
    font-family: Palanquin;
    font-weight: 400;
    font-style: Regular;
    font-size: 16px;
    color:#54370D;
    text-align: center;

}

#autor-text{
    font-family: Palanquin;
    font-weight: 400;
    font-style: Regular;
    font-size: 16px;
    color:#54370D;
}



/* slider blog article */

#section-h3{
    font-family: Arima;
    font-weight: 600;
    font-style: SemiBold;
    font-size: 32px;
    color:#54370D;
    padding-top: 64px;
}

.section_slider_b{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-bottom: 60px;
}

.slider_b{
    
    display: flex;
    height: 440px;
    margin-top: 64px;
    margin-bottom: 88px;
    width: 1100px;
    
    align-items: center;
}

.slider_b_element{
    width: 300px;
    height: 80%;
    z-index: 1;
    box-shadow: -9px 5px 20px 0px #00000040;
    border-radius: 16px;

    object-fit: cover;

    transform: perspective(250px) rotateY(10deg) translateX(20px);
    transform-origin: 50% 50%;

    transition: all 250ms ease-in-out;
}
        

.slider_b_element:hover{
    transform: perspective(250px) rotateY(0deg) translateX(0px) scaleX(1.5) scaleY(1.2);
    z-index: 2;
}

.slider_b_element:hover~.slider_b_element{
    transform: perspective(250px) rotateY(-20deg) translateX(20px);
}

.slider_b_element + .slider_b_element {
    margin-left: -100px;
}

#text-slider{
    font-family: Palanquin;
    font-weight: 400;
    font-style: Regular;
    font-size: 24px;
    line-height: 120%;
    letter-spacing: 0%;
}

#ueberschrift-sortierte-liste{
    font-family: Palanquin;
    font-weight: 400;
    font-style: Regular;
    font-size: 24px;
    line-height: 120%;
    letter-spacing: 0%;
    transform: translate(-39px, -25px);
}

#geordnete-liste{
    display: flex;
    justify-content: center;
}

#sortierte-liste{
    padding-block: 88px;
    font-family: Palanquin;
    font-weight: 400;
    font-style: Regular;
    font-size: 24px;
    line-height: 120%;
    letter-spacing: 0%;
    color: #3D3D3D;
    width: 1000px;
}


#sortierte_liste{
    background: #4EA48733;
    padding: 24px 16px;
    border-radius: 30px;
    font-family: Palanquin;
    font-weight: 400;
    font-style: Regular;
    font-size: 24px;
    line-height: 120%;
    letter-spacing: 0%;
    color: #3D3D3D;
}

#sortierte_liste li{
    width: 1050px;
    list-style-position: outside;
    margin-left: 47px;
}

#img-pro-tipps{
    position: absolute;
    transform: translate(-70px, -95px);
}

#ending-text{
    padding-block: 88px;
    font-family: Palanquin;
    font-weight: 400;
    font-style: Regular;
    font-size: 24px;
    line-height: 120%;
    letter-spacing: 0%;

}

#last-p{
    font-family: Arima;
    font-weight: 500;
    font-style: Medium;
    font-size: 24px;
    line-height: 120%;
    letter-spacing: 0%;
    text-align: center;
    color: #54370D;
}

#last-img{
    position: absolute;
    transform: translate(-165px, 50px);
}

.last-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 50px;
}

#btn{
    display: flex;
    gap: 8px;
    width: 160px;
    height: 50px;

    padding-inline: 24px;
    background: #4EA487;
    border-radius: 40px;
    align-items: center;
    
}

.btn{
    background: #4EA487;
    border: none;
    font-family: Arima;
    font-weight: 700;
    font-style: Bold;
    font-size: 24px;
    line-height: 120%;
    letter-spacing: 5%;
    color: #F1C953;
}

#img-share{
    width: 32px;
    height: 32px;
}

