:root {
    --main-color: rgba(241, 201, 83, 1);
    --secondary-color: rgba(78, 164, 135, 1);
}

* {
    margin: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

body {
    min-height: 100vh;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.site-header {
    width: 100%;
    padding: 32px 0 32px 146px;

    background-color: var(--secondary-color);
}

.nav-bar {
    max-width: 561px;
    display: flex;
    align-items: center;
    gap: 102px;
}

.nav-bar img {
    height: 72px;
    width: 72px;
}

.nav-bar ul {
    display: flex;
    gap: 72px;
}

.nav-bar ul li {
    list-style: none;
    font-family: 'Arima';
    font-weight: 700;
    font-size: 24px;
    line-height: 0.8;

    color: #FFFFFF;
}

.nav-bar ul li a {
    text-decoration: none;
    color: #FFFFFF;
}

<<<<<<< HEAD
.nav-bar ul li a:hover {
    color: var(--main-color);
}

.hero {
    width: 100%;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.hero-container {
    width: 100%;
    max-width: 1440px;
    height: 515px;
    background-image: url(../assets/img/bild_bg.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;

    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

.hero-content {
    width: 647px;
    height: 540.14px;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
}

#gelbesOverlay {
    height: 100%;
    position: relative;
    top: 0;
    left: 0;
}

#circle_icon {
    width: 160px;
    height: 160px;
    position: absolute;
    bottom: 100px;
    right: 40px;

    animation: rotieren 9s linear infinite;
}

@keyframes rotieren {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}

.hero-text {
    width: 345px;
    height: 232px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-239px, -144px);

    display: flex;
    flex-direction: column;
    gap: 32px;
    z-index: 2;
}

.hero-text h1 {
=======
.headline{
>>>>>>> f51fba8b9a757e6eb8d435e47746108a00170de2
    font-family: 'Arima';
    font-style: normal;
    font-weight: 700;
    font-size: 56px;
    color: #4EA487;
}

.headline::before{
    content: "";
    width: 40px;
    height: 40px;
    display: inline-block;
    background-image: url('../assets/icons/rocket_launch.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    padding-right: 24px;
}

<<<<<<< HEAD
#faq {
    max-width: 1200px;
    width: 100%;

    display: flex;
    flex-direction: column;
    justify-self: center;
    /* align-items: center; */
    gap: 48px;
}

.titel-box {
    display: flex;
    justify-content: center;
    gap: 8px;
}

#faq h2 {
    text-align: center;
    font-family: 'Arima';
    font-weight: bold;
    font-size: 52px;

    color: var(--secondary-color);
}

.details-box {
    display: flex;
    flex-direction: column;
    gap: 32px;
}

#faq details {
    background-color: var(--main-color);

    font-family: 'palanquin';
    font-size: 24px;
    line-height: 1.2;
    font-weight: bold;
    
    border-radius: 12px;
    padding: 16px 24px;
}

#faq summary {
    display: flex;
    justify-content: space-between;
    align-items: center;
    list-style: none;
    line-height: 120%;
}

summary::after {
    content: "";
    display: inline-block;
    width: 24px;
    height: 24px;

    background-image: url(/assets/icons/arrow_forward_icon.svg);
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    transition: transform 0.2s ease;
    margin-right: 4px;
}

details[open] summary::after {
    transform: rotate(180deg);
}

.content-box {
    background-color: white;
    border-radius: 5px;
    padding: 4px 10px;
    font-family: 'Palanquin';
    font-size: 16px;
    font-weight: 500;
    line-height: 1.2;
}

footer {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 60px 120px;
    background-color: var(--secondary-color);
}

.footer-container {
    max-width: 1200px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.footer-socials {
    width: 509px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 72px;

    color: white;
}

.copyright-box {
    width: 180px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 4px;
}

.copyright-icon {
    width: 24px;
    height: 24px;

    display: flex;
    justify-content: center;
    align-items: center;
}

.copyright-box img {
    width: 20px;
    height: 20px;
}

.copyright-box p {
    font-family: 'Palanquin';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 1.2;
    color: white;
}

.footer-socials a {
    width: fit-content;
    text-decoration: none;
    color: white;
    font-family: 'Palanquin';
    font-size: 16px;
    line-height: 1.2;
}

.icons-wrapper {
    width: 188px;
    gap: 16px;

    display: flex;
    justify-content: center;
    align-items: center;

=======
.slider-section p{
     font-family: 'Palanquin';
     font-style: normal;
     font-weight: 500;
     font-size: 24px;
     color: #54370d;
>>>>>>> f51fba8b9a757e6eb8d435e47746108a00170de2
}